# Pattern Problems

In [8]:
n = int(input("Enter the number rows and columns"))

for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

Enter the number rows and columns5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
n = int(input("Enter the number rows and columns: "))

for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print()

Enter the number rows and columns: 6

*
* *
* * *
* * * *
* * * * *

In [4]:
n = int(input("Enter the number rows: "))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
n = int(input("Enter the number rows: "))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the number rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
n = int(input("Enter the number rows: "))

for i in range(1,n+1):
    for j in range(n-i+1):
        print("*",end=" ")
    print()

Enter the number rows: 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
n = int(input("Enter the number rows: "))

for i in range(1,n+1):
    for j in range(1,n-i+2):
        print(j,end=" ")
    print()

Enter the number rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [18]:
n = 5

for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

In [22]:
n = 5

for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*",end="")
    print()

*********
 *******
  *****
   ***
    *

In [25]:
n = 5

for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*",end="")
    print()
    
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [42]:
n = 5

# Increasing part
for i in range(1, n + 1):
    print("*" * i)

# Decreasing part
for i in range(n - 1, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*

In [51]:
n = 3  
start = 1

for i in range(1, n + 1):
    val = start
    for j in range(i):
        print(val, end=" ")
        val = 1 - val  # alternate 1 ↔ 0
    print()
    start = 1 - start  # alternate starting value for next row

1
0 1
1 0 1

In [5]:
n = 5 

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
n = 5 

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    
    spaces = 2 * (n-i)
    for j in range(spaces):
        print(" ",end=" ")
    
    for j in range(i,0,-1):
        print(j,end=" ")
        
    print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [1]:
n = 7 
num = 1

for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [3]:
n = 5
char = 65

for i in range(n):
    for j in range(i+1):
        print(chr(char),end=" ")
        char += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [21]:
n = 5

for i in range(1,n+1):
    char = 65
    for j in range(i):
        print(chr(char),end=" ")
        char += 1
    print()

A
A B
A B C
A B C D
A B C D E

In [22]:
n = 5

for i in range(n,0,-1):
    char = 65
    for j in range(0,i):
        print(chr(char),end=" ")
        char += 1
    print()

A B C D E
A B C D
A B C
A B
A

In [40]:
n = 5

for i in range(n):
    char = 65
    for j in range(i+1):
        print(chr(char+i),end = " ")
    print()

A
B B
C C C
D D D D
E E E E E

In [46]:
n = 5

for i in range(n):
    start = n-i-1
    for j in range(start,n):
        print(chr(65+j),end=" ")
    print()

E
D E
C D E
B C D E
A B C D E

In [49]:
n = 5

for i in range(n):
    for j in range(i+1):
        start = n - j + 64
        print((chr)(start),end = " ")
    print()

E
E D
E D C
E D C B
E D C B A

In [52]:
n = 7

for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [71]:
n = 8
    
for i in range(n):
    # stars
    for j in range(n-i):
        print("*",end="")
     
    # space 
    for j in range(2*i):
        print(" ",end="")
            
    # stars
    for j in range(n-i):
        print("*",end="")
    print()
    
for i in range(n):
    for j in range(i+1):
        print("*",end="")
        
    for j in range(2*(n-i-1)):
        print(" ",end="")
    
    for j in range(i+1):
        print("*",end="")
    
    print()

****************
*******  *******
******    ******
*****      *****
****        ****
***          ***
**            **
*              *
*              *
**            **
***          ***
****        ****
*****      *****
******    ******
*******  *******
****************

In [85]:
n = 8
    
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
        
    for j in range(2*(n-i)):
        print(" ",end="")
    
    for j in range(i):
        print("*",end="")
    
    print()
    
for i in range(n-1,0,-1):
    # stars
    for j in range(i):
        print("*",end="")
     
    # space 
    for j in range(2*(n-i)):
        print(" ",end="")
            
    # stars
    for j in range(i):
        print("*",end="")
    print()

*              *
**            **
***          ***
****        ****
*****      *****
******    ******
*******  *******
****************
*******  *******
******    ******
*****      *****
****        ****
***          ***
**            **
*              *

In [87]:
'''
    Time Complexity : O( N*N )
    Space complexity: O( 1 )

    Where N is the input integer.
'''


def symmetry(n: int):
    # Update n with 2*n

    n = 2*n
    # For loop ‘row’ in range 0 to N-2.
    for row in range(n-1):
        # For loop ‘col’ in range 0 to N-1.
        for col in range(n):
            # Condition for first half of the rows.
            if (row < n/2 and (col <= row or col >= (n-row-1))):
                print('*', end=" ")
            # Condition for the second half of the rows.
            if (row >= n/2 and (col < (n-row-1) or col > row)):
                print('*', end=" ")
            if (row < n/2 and not (col <= row or col >= (n-row-1))):
                print(' ', end=" ")
            if (row >= n/2 and not (col < (n-row-1) or col > row)):
                print(' ', end=" ")
        print()

print(symmetry(5))

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
None

In [2]:
n = 8

for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1:
            print("*",end=" ")
        else:
            print(" ",end = " ")
            
    print()

* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

In [95]:
n = 4

for i in range(2*n-1):
    for j in range(2*n-1):
        top = i
        left = j
        bottom = (2*n-2)-i
        right = (2*n-2)-j
        
        print(n - min(min(top,bottom),min(left,right)),end=" ")
    print()

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

In [98]:
'''
    Time complexity: O(N^2)
    Space complexity: O(1)

    Where 'N' is the input integer.
'''

n = 4

k = 2 * n - 1

# Filling up the cells.
for i in range(k):
    for j in range(k):
        x = abs(i - n + 1)
        y = abs(j - n + 1)
        print(max(x, y) + 1, end=" ")
    print()

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4